<router-outlet></router-outlet>

<form [formGroup]="formGroup" (submit)="changePageSize()">
  Page Size:
  <input type="number" formControlName="pageSize" />
  <button type="submit">Ok</button>
</form>

<ul *ngIf="posts$ | async as postsPage">
  Contador de Updates:
  {{
    postsPage.cacheCount
  }}
  <br />
  <div>Página Atual: {{ postsPage.pageable.pageNumber + 1 }}</div>
  <br />

  <li *ngFor="let post of postsPage.content">{{ post.id }} - {{ post.title }}</li>
</ul>

<button (click)="prevPage()">Prev</button>
<button (click)="nextPage()">Next</button>
